<div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Make</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products">
				<td>{{product.id}}</td>
				<td><a ui-sref=".view({prodId:product.id})">{{product.name}}</a></td>
				<td>{{product.price|currency}}</td>
				<td>{{product.make|date}}</td>
				<td><a href="#/view-all/edit-product/{{product.id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
				<td><a href  ng-click="remove(product.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		</tbody>
	</table>
	
	<hr/>
	
	<div class="row">
		<div class="col-sm-6">
			<ui-view name="read"></ui-view>
		</div>
		<div class="col-sm-6">
			<ui-view name="edit"></ui-view>
		</div>
	</div>
	

</div>