<div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Price</th>
				<th>Make</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products">
				<td>{{product.id}}</td>
				<td>{{product.name}}</td>
				<td>{{product.price|currency}}</td>
				<td>{{product.make|date}}</td>
				<td><a href><span class="glyphicon glyphicon-edit"></span></a></td>
				<td><a href  ng-click="remove(product.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		</tbody>
	</table>

</div>